numpy==1.26.4
optuna==4.1.0
optuna-dashboard==0.17.0
matplotlib==3.10.0
joblib==1.4.2
librosa==0.10.2.post1
plotly==5.24.0
pandas==2.2.3
scikit-learn==1.6.0
seaborn==0.13.2
torch==2.5.1
torchsummary==1.5.1